* {
	box-sizing: border-box;
}

body {
	background-color: #e5e7eb;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Inter;
	-webkit-user-select: none;
	user-select: none;
}

main {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Typography */

h1 {
	font-family: 'Permanent Marker', sans-serif;
	font-size: 2.75rem;
	margin-bottom: 0.5em;
	text-align: left;
}

.badges-page h1 {
	margin-left: 130px;
}

.banners-page h1 {
	margin-left: 150px;
}

h2 {
	display: inline;
	color: #5e5d5d;
	font-family: 'Permanent Marker', sans-serif;
	font-size: 1.25rem;
	text-align: right;
	padding: 0;
}

/* Cards header */
h3 {
	margin-top: 3.5em;
	font-family: 'Inter', sans-serif;
	font-size: 1.13rem;
	font-weight: 500;
	color: #111827;
	text-align: center;
}

h4 {
	font-family: 'Inter', sans-serif;
	font-size: 0.88rem;
	font-weight: 500;
	line-height: 1.25em;
}

p {
	margin-top: 0;
}

button {
	color: #4b5563;
	border: 1px solid gray;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	font-size: 1.1rem;
	padding: 0.75em;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	user-select: none;
	min-width: 120px;
}

button:hover,
button:focus {
	outline: none;
}

button.button-success {
	color: #047857;
	background-color: #ecfdf5;
	border-color: #047857;
}

button.button-warning {
	color: #fbbf24;
	background-color: #fffbeb;
	border-color: #fbbf24;
}

button.button-danger {
	color: #f87171;
	background-color: #fef2f2;
	border-color: #f87171;
}

.menu {
	position: relative;
	margin: 40px auto auto 20px;
}

.menu-button {
	background-color: white;
}

.menu-button:hover {
	background-color: whitesmoke;
}

.menu-dropdown {
	position: absolute;
	left: 0;
	margin-top: 3px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 6px;
}

.menu-item {
	color: #4b5563;
	padding: 0.75em;
	cursor: pointer;
	min-width: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	user-select: none;
}

.menu-item:first-child {
	border-radius: 6px 6px 0 0;
}

.menu-item:last-child {
	border-radius: 0 0 6px 6px;
}

.menu-item:hover {
	background-color: whitesmoke;
}

.menu-item:not(:last-child) {
	border-bottom: 1px solid #6b7280;
}

/* Badge */

.badges-page {
	display: flex;
	flex-direction: column;
}

.badge--shape-container {
	display: flex;
	justify-content: start;
	align-items: end;
	flex-wrap: wrap;
	margin-bottom: 1.2em;
}

.badge--shape-text {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	height: 40px;
	width: 100px;
	margin-right: 20px;
	padding-bottom: 0px;
}

.badge--shape-text h2 {
	margin-bottom: auto;
}

.badge--container {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.badge--color-text {
	color: gray;
	font-size: 0.7rem;
	margin-top: 1em;
	margin-bottom: 0.1em;
}

.badge {
	display: inline-flex;
	height: 1.5em;
	padding: 2px 12px;
	margin: 2px 8px;
	justify-content: center;
	align-items: center;
	background: #f3f4f6;
}

.badge--square {
	border-radius: 0.25em;
}

.badge--pill {
	border-radius: 0.75em;
}

.badge--gray {
	color: #1f2937;
	background-color: #f3f4f6;
}

.badge--red {
	color: #991b1b;
	background-color: #fee2e2;
}

.badge--yellow {
	color: #92400e;
	background-color: #fef3c7;
}

.badge--green {
	color: #065f46;
	background-color: #d1fae5;
}

.badge--blue {
	color: #1e40af;
	background-color: #dbeafe;
}

.badge--indigo {
	color: #3730a3;
	background-color: #e0e7ff;
}

.badge--purple {
	color: #5b21b6;
	background-color: #ede9fe;
}

.badge--pink {
	color: #9d174d;
	background-color: #fce7f3;
}

/* Banner */

.banner {
	text-align: left;
	align-self: start;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	padding: 1em;
	font-size: 0.88rem;
	border-radius: 0.38em;
}

.banner--error h4 {
	font-weight: 700;
}

.banner--multi-line {
	gap: 0.5em 0.75em;
}

.banner--single-line {
	gap: 0 0.75em;
}

.banner--column-header {
	text-align: left;
	margin-bottom: 0;
}

.banner--success {
	color: #047857;
	background: #ecfdf5;
}

.banner--warning {
	color: #92400e;
	background: #fffbeb;
}

.banner--error {
	color: #92400e;
	background: #fef2f2;
}

.banner--neutral {
	color: #1e40af;
	background: #eff6ff;
}

.banner img {
	align-self: center;
}

.banner h4 {
	margin: 0;
	align-self: center;
}

.banner p {
	margin: 0;
}

.banner--container {
	display: grid;
	grid-template-columns: 100px 1fr 1fr;
	grid-template-rows: repeat(auto, 5);
	gap: 20px;
	margin: 0 30px;
}

/* Card */

.card--container {
	margin-top: 4em;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	gap: 3.5em 2em;
}

.card {
	width: 384px;
	height: 208px;
	border-radius: 8px;
	background: #f9fafb;
	position: relative;
	padding: 0 1.5em 2em 1.5em;
}

.card:hover {
	box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}

.card .icon {
	width: 3em;
	height: 3em;
	color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
		0px 10px 15px -3px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: -1.5em;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.card--icon-size {
	width: 1.5em;
	height: 1.5em;
}

.card p {
	color: #6b7280;
	text-align: center;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5em;
}

@media (max-width: 800px) {
	.card--container {
		grid-template-columns: auto;
		grid-template-rows: repeat(auto, 4);
	}
}

/* Testimonials */

.testimonials-page {
	/* background-image: url('./assets/christina-small.png'); */
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	font-family: 'Inter', sans-serif;
}

.testimonial--with-pic {
	color: #fff;
	background: #2545b8;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px; /* 133.333% */
}

.testimonial {
	color: #111827;
	background: #f9fafb;
	text-align: center;
	/* font-size: 1.5rem; */
	font-size: 24px;
	font-weight: 500;
	line-height: 36px; /* 150% */
}

.testimonial--picture {
	width: 344px;
	height: 206px;
	border-radius: 12px;
	background: url('./assets/christina-small.png') no-repeat;
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04),
		0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}

@media (width > 900px) {
	.testimonial--picture {
		background: url('./assets/christina.png') no-repeat;
		width: 384px;
		height: 464px;
	}
}
