* {
	box-sizing: border-box;
}

body {
	background-color: #e5e7eb;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Inter;
	-webkit-user-select: none;
	user-select: none;
}

main {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Typography */

h1 {
	font-family: 'Permanent Marker', sans-serif;
	font-size: 2.75rem;
	margin-bottom: 0.5em;
}

h2 {
	display: inline;
	color: #5e5d5d;
	font-family: 'Permanent Marker', sans-serif;
	font-size: 1.25rem;
	text-align: right;
	padding: 0;
}

p {
	margin-top: 0;
}

button {
	color: #4b5563;
	border: 1px solid gray;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	font-size: 1.1rem;
	padding: 0.75em;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	user-select: none;
	min-width: 120px;
}

button:hover,
button:focus {
	outline: none;
}

button.button-success {
	color: #047857;
	background-color: #ecfdf5;
	border-color: #047857;
}

button.button-warning {
	color: #fbbf24;
	background-color: #fffbeb;
	border-color: #fbbf24;
}

button.button-danger {
	color: #f87171;
	background-color: #fef2f2;
	border-color: #f87171;
}

.menu {
	position: relative;
	margin: 40px auto auto 20px;
}

.menu-button {
	background-color: white;
}

.menu-button:hover {
	background-color: whitesmoke;
}

.menu-dropdown {
	position: absolute;
	left: 0;
	margin-top: 3px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 6px;
}

.menu-item {
	color: #4b5563;
	padding: 0.75em;
	cursor: pointer;
	min-width: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	user-select: none;
}

.menu-item:first-child {
	border-radius: 6px 6px 0 0;
}

.menu-item:last-child {
	border-radius: 0 0 6px 6px;
}

.menu-item:hover {
	background-color: whitesmoke;
}

.menu-item:not(:last-child) {
	border-bottom: 1px solid #6b7280;
}

/* Badges */

.badges-page {
	display: flex;
	flex-direction: column;
}

.badge--shape-container {
	display: flex;
	justify-content: start;
	align-items: end;
	flex-wrap: wrap;
	margin-bottom: 1.2em;
}

.badge--shape-text {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;

	height: 40px;
	width: 100px;
	margin-right: 20px;
	padding-bottom: 0px;
}

.badge--shape-text h2 {
	margin-bottom: auto;
}

.badge--container {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.badge--color-text {
	color: gray;
	font-size: 0.7rem;
	margin-top: 1em;
	margin-bottom: 0.1em;
}

.badge {
	display: inline-flex;
	height: 1.5em;
	padding: 2px 12px;
	margin: 2px 8px;
	justify-content: center;
	align-items: center;
	background: #f3f4f6;
}

h4 {
	font-family: 'Inter', sans-serif;
	font-size: 0.88rem;
	font-weight: 500;
	line-height: 1.25em;
}

.badge--square {
	border-radius: 0.25em;
}

.badge--pill {
	border-radius: 0.75em;
}

.badge--gray {
	color: #1f2937;
	background-color: #f3f4f6;
}

.badge--red {
	color: #991b1b;
	background-color: #fee2e2;
}

.badge--yellow {
	color: #92400e;
	background-color: #fef3c7;
}

.badge--green {
	color: #065f46;
	background-color: #d1fae5;
}

.badge--blue {
	color: #1e40af;
	background-color: #dbeafe;
}

.badge--indigo {
	color: #3730a3;
	background-color: #e0e7ff;
}

.badge--purple {
	color: #5b21b6;
	background-color: #ede9fe;
}

.badge--pink {
	color: #9d174d;
	background-color: #fce7f3;
}
